
/*home*/
.header {background-color: #fff;}
.nav .nav-item .nav-link {color: #14142B; font-size: 18px;}
.nav .nav-item .active {border-bottom: 3px solid #000; font-weight: 600;}
.read-more {
    border: solid 1px #ddd;
    border-radius: 30px;
    color: #fff;
    width: 160px;
    height: 48px;
    text-align: center;
    line-height: 46px;
}
.dao-list,.footer,.page {background-color: #F1F6F4;;padding:3rem 0;}
.dao-btn {
    display: inline-block;
    color: #2D2D36; 
    font-size: 16px; 
    border: 1px solid rgba(45, 45, 54, 0.15); 
    padding: 5px 15px 5px 25px;
    margin: 10px;
    background-color: none;
    transition: background-color .5s;
}
.dao-btn-home:first-child{
    background-color: #191919;
    color: #fff;
}
.dao-btn-home:first-child .nub{
    color: #A3A3A3;
}
.dao-btn.active{
    background-color: #191919;
    color: #fff;
}
.dao-btn.active .nub{
    color: #A3A3A3;
}
.dao-btn-primary {}
.dao-btn-secondary {background-color: #D4E9DE;}
.dao-btn:hover{
    background-color: #191919;
    color: #fff;
}
.dao-btn:hover .nub{
    color: #A3A3A3;
}
.dao-btn .nub{font-size: 14px; color: #2D3436;}
.news-card-1,.news-card-2 {
    background-size: cover;
    background-repeat: no-repeat;
}
.news-card-1 {background-image: url( /static/imgs/bg-news-1.jpg);}
.news-card-2 {background-image: url( /static/imgs/bg-news-2.jpg);}
.dao-card {
    border-radius:6px; 
    background-color: #fff;
    padding: 50px 14px 48px;
    height: 488px;
}
.cl {clear:both; }
.f12 {font-size: 12px;}
.fl {float: left;}
.bg-more {
    background-color: #01BC9A;
    transition: background-color .5s;
}
.bg-more:hover {
    background-color: #198d4f;
    color: #fff;
}
.color-primary {color: #52DE94;}
/*list & page*/
.bg {background-color: #F1F6F4;}
.mr-1 {margin-right: 1rem}
.dao-card .title{}
.dao-img {
    width: 72px;
    height: 67px;
    margin: 0 auto 26px;
}
.dao-img img {
    height: 100%;
}
.article-cover {
    height: 215px;
    position: relative;
}
.article-cover img { height: 100%;}

/*20220105*/
.logo-pos{}
.nav-ul{
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}
.banner-img{
    width: 100%;
}

.new-px{
    padding: 0 21px;
}
.new-px-r{
    padding: 0 21px 0 0;
}
.hot-px{
    padding: 0 21px;
}
.hot-px-l{
    padding: 0 0 0 3px;
}
.nh-title{
    align-items: center;
    padding: 10px 0;
    margin: 0 0 24px;
}
.nh-t-more a{
    text-decoration: none;
    transition: color .5s;
}
.nh-t-more a:hover{
    cursor: pointer;
    color: #01BC9A;
}

.cover-img img{
    background: #C4C4C4;
    height: 100%;
}
.new-cnt{}
.new-cnt .new-cnt-top{
    margin: 0 0 38px 0;
}
.new-cnt .new-cnt-top .title{
}
.new-cnt .new-cnt-top .cnt{
    max-height: 280px;
    line-height: 25px;
}
.new-cnt .cover-box{
    padding-left: 20px;
}
.new-cnt .cover-box .cover-img{
    /*width: 588px;
    max-height: 462px;*/
    height: 100%;
}
.new-cnt .cover-box .cover-img img{}
.new-cnt .new-cnt-btm{
    display: flex;
}
.new-cnt .new-cnt-btm .new-block{
    flex: 1;
    padding-top: 24px;
}
.new-cnt .new-cnt-btm .new-block:nth-child(2){
    margin: 0 24px;
}
.new-cnt .new-cnt-btm .title{
    height: 60px;
    line-height: 30px;
}

.hot-cnt{}
.hot-cnt .hot-block{
    border-bottom: 1px solid rgba(45, 45, 54, 0.15);
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.hot-cnt .hot-block:last-child{
    border-bottom: none;
    margin-bottom: 0;
}
.hot-cnt .hot-block .cover-img{
    /*max-height: 172px;*/
    height: 100%;
    margin-bottom: 16px;
}
.hot-cnt .hot-block .cover-img img{}
.new-cnt .title a, .hot-cnt .title a{
    text-decoration: none;
    transition: color .5s;
}
.new-cnt .title a:hover, .hot-cnt .title a:hover{
    cursor: pointer;
    color: #01BC9A;
}

.p-cnt{
    max-height: 135px;
    overflow: hidden;
    margin-bottom: 0;
}
.more-btn{
    position: absolute;
    bottom: 48px;
    left: 50%;
    margin-left: -66px;
}

.art-pd{
    padding: 32px 45px;
}
.art-dtl-pd{
    padding: 40px 70px;
}
.art-a, .art-a:hover{
    color: #333;
    text-decoration: none;
}
.art-p-cnt{
    max-height: 100px;
    line-height: 25px;
}

.key-contributors{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
}
.kc-title{
    width: 142px;
    vertical-align: top;
}
.kc-title1{
    padding: 0 .5rem;
    width: 155px;
}
.detail-ov-cnt{
    padding-left: 24px;
}
.kc-cnt{
    display: inline-block;
    max-width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.kc-cnt1{
    display: inline-block;
    max-width: 888px;
}

.socials-cnt .social-block a{
    color: #168ED9;
}

.footer a{
    color: #303B67;
    transition: color .5s;
}
.footer a:hover{
    color: #0d6efd;
}

.dao-head{
    margin: -68px 0 80px;
}
.dao-head .head-img{
    width: 176px;
    height: 176px;
    padding: 10px;
    margin: 0;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
}
.dao-head .head-img img{
    width: 156px;
    height: 156px;
    border-radius: 50%;
}
.dao-head .share-icons{}
.dao-head .share-icons a{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 4px;
    text-align: center;
}
.dao-head .share-icons a img{
    width: 100%;
}
.dao-head .share-icons a img.one{
    width: 25px;
}
.dao-head .share-icons a img.three{
    width: 25px;
    height: 20px;
}
.sub-nav{
    padding: 5px 0 20px;
    margin-right: 60px;
}

@media(max-width: 676px) {
    .fs32{
        font-size: 24px!important;
    }
    .fs30{
        font-size: 22px!important;
    }
    .fs28{
        font-size: 20px!important;
    }
    .fs16{
        font-size: 14px!important;
    }
    .mt-5{
        margin-top: 1rem!important;
    }
    .mb-3{
        margin-bottom: 10px!important;
    }
    .logo-pos{
        margin-bottom: 0!important;
    }
    .nav-m{
        padding: 10px!important;
    }
    .new-cnt .cover-box{
        padding-left: 0;
    }
    .dao-btn{
        margin: 7px 5px;
    }
    .dao-list, .footer, .page{
        padding: 1rem 0;
    }
    .dao-card{
        padding: 25px 7px 24px;
        height: 418px;
    }
    .dao-img{
        margin: 0 auto 16px;
    }
    .dao-head{
        margin-bottom: 30px!important;
    }
    .more-btn{
        bottom: 20px;
    }
    .dao-detail-cnt-m, .dao-detail-head-m{
        padding: 1.5rem!important;
    }
    .footer-copy{
        padding-left: 10px;
        padding-right: 10px;
    }
    .dao-head .mgtp-40{
        margin-top: 12px;
    }
    .dao-head .pdlt-4{
        padding-left: 0;
    }
    .sub-nav{
        padding: 5px 0;
        margin-right: 14px;
        margin-bottom: 10px;
    }
    .nav-m{
        padding-left: 15px;
    }

    .art-a, .art-a:hover{
        display: block;
        margin: 0 12px;
    }
    .art-pd{
        padding: 16px 22px;
    }
    .article-cover{
        text-align: center;
    }
    .art-dtime{
        position: relative!important;
        margin-bottom: 10px!important;
    }
    .art-dtl-pd{
        padding: 16px 22px;
        margin: 0 12px;
    }
    .art-dtl-pd p{
        margin-bottom: 12px;
        line-height: 22px;
    }
}