/*20220105*/
.pos-re{
    position: relative;
}
.pdlt-1{
    padding-left: 3rem;
}
.clr9{
    color: #999!important;
}
.fs15{
    font-size: 15px!important;
}
.fs-7{
    font-size: 0.85rem!important;
}