<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.base.Tdk.Title}}-DAOAtlas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/front/style.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.2/vue.min.js"></script>
    <script src="/static/component/copyright.js"></script>
</head>

<body class="">
    <div class="top-nav">
        {{template "nav.html" .}}
    </div>
    <div class="container page">
        <nav class="nav-m">DAOs / {{.view.Title}} <nav>
        
        <div class="bg-white rounded-3 shadow-sm pd-bm-0 pdlt-5 pdrt-1 py-4 mgtp-80 dao-detail-head-m">
            <div class="row dao-head">
                <div class="col-md-2 pd-0 text-center">
                    <div class="head-img"><img class="img-fluid" src="{{.view.Pic}}" alt=""></div>
                </div>
                <div class="col-md-7 pdlt-4 mgtp-40 fx-al-ct">
                    <div class="fs28 fs600 clr4 mgbm-5">{{.view.Title}}</div>
                    <div class="min-wid267 share-icons">
                        <a class="" href="{{.daoAttr.Website}}" target='_blank'>
                            <img class="one" src="/static/imgs/logo-daos.png" alt="">
                        </a>
                        <a class="" href="{{.daoAttr.Twitter}}" target='_blank'>
                            <img class="two" src="/static/imgs/logo-twitter.png" alt="">
                        </a>
                        <a class="" href="{{.daoAttr.Discord}}" target='_blank'>
                            <img class="three" src="/static/imgs/logo-discord.png" alt="">
                        </a>
                        <a class="" href="{{.daoAttr.Wiki}}" target='_blank'>
                            <img class="four" src="/static/imgs/wikipedia2.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link link-dark sub-nav active" href="#Overview">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-dark sub-nav" href="#Goal">Goal</a>
                </li>                        
                <li class="nav-item">
                    <a class="nav-link link-dark sub-nav" href="#Introduction">Introduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-dark sub-nav" href="#How to Join">How to Join</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link link-dark sub-nav" href="#Socials">Socials</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link link-dark sub-nav" href="#Governance">Governance</a>
                </li>
            </ul>
        </div>

        <div class="bg-white rounded-3 shadow-sm px-5 py-5 mt-4 dao-detail-cnt-m">
            <div id="Overview" class="">
                <div class="fs28 fs600 clr3">
                    <i class="bi-bookmark color-primary"></i>
                    <span class="px-2">Overview</span>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <dl>
                            <dd class="p-2">
                                <span class="fw-bold">Category</span>
                                <span class="detail-ov-cnt">{{ toDaoTag .view.Tag}}</span>
                            </dd>
                            <dd class="p-2">
                                <span class="fw-bold">Members</span>
                                <span class="detail-ov-cnt">{{.daoAttr.Members}}</span>
                            </dd>
                            <!-- <dd class="p-2 key-contributors">
                                <span class="fw-bold kc-title">Key Contributors</span>
                                <span class="detail-ov-cnt kc-cnt" title="{{.daoAttr.KeyContributors}}">{{.daoAttr.KeyContributors}}</span>
                            </dd> -->
                        </dl>
                    </div>
                    <div class="col">
                        <dl>
                            <dd class="p-2">
                                <span class="fw-bold">Start Time</span>
                                <span class="detail-ov-cnt">{{.daoAttr.StartTime}}</span>
                            </dd>
                            <dd class="p-2">
                                <span class="fw-bold">Community Activities</span>
                                <span class="detail-ov-cnt">{{.daoAttr.Activities}}</span>
                            </dd>
                        </dl>
                    </div>
                    <!-- <div class="">
                        <div class="fw-bold kc-title1">Key Contributors</div>
                        <div class="kc-cnt1 wd-bk">{{.daoAttr.KeyContributors}}</div>
                    </div> -->
                    <div class="pdlt-3">
                        <table>
                            <tr>
                                <td class="fw-bold kc-title1 vt-al-tp">Key Contributors</td>
                                <td class="detail-ov-cnt wd-bk clr0">{{.daoAttr.KeyContributors}}</td>
                            </tr>             
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div id="Goal" class="bg-white rounded-3 shadow-sm px-5 py-4 mt-4">
                <h3><i class="bi-bullseye color-primary"></i><span class="px-3">Goal</span></h3>
                {{.daoAttr.Summary}}
            </div> -->

            <div class="h-line line-bm mg-x48"></div>

            <div id="Goal" class="">
                <div class="fs28 fs600 clr3 mgbm-24">
                    <i class="bi-receipt color-primary"></i>
                    <span class="px-2">Goal</span>
                </div>
                <div>
                    <div class="goal-cnt">
                        <div class="fs22 fs600 clr2">
                            <!-- <i class="bi-bullseye color-primary"></i> -->
                            <!-- <span class="">Goal</span> -->
                        </div>
                        <div>{{.daoAttr.Summary}}</div>
                    </div>
                </div>
            </div>
            <div class="h-line line-bm mg-x48"></div>
            <div id="Introduction" class="">
                <div class="fs28 fs600 clr3 mgbm-24">
                    <i class="bi-receipt color-primary"></i>
                    <span class="px-2">Introduction</span>
                </div>
                <div>
                    <div class="goal-cnt">
                        <div class="fs22 fs600 clr2">
                            <!-- <i class="bi-bullseye color-primary"></i> -->
                            <!-- <span class="">Goal</span> -->
                        </div>
                        <!-- <div>{{.daoAttr.Summary}}</div> -->
                    </div>

                    <div>
                        {{.body}}
                    </div>
                </div>
            </div>

            <div class="h-line line-bm mg-x48"></div>

            <div id="How to Join" class="">
                <div class="fs28 fs600 clr3 mgbm-24">
                    <i class="bi-person-plus color-primary"></i>
                    <span class="px-2">How to Join</span>
                </div>
                {{.daoAttr.HowToJoin}}
            </div>

            <div class="h-line line-bm mg-x48"></div>

            <div id="Socials" class="">
                <div class="fs28 fs600 clr3 mgbm-24">
                    <i class="bi-chat-right-text color-primary"></i>
                    <span class="px-2">Socials</span>
                </div>
                <div class="socials-cnt">
                    <div class="mgbm-15">
                        <div class="fw-bold">Website</div>
                        <div><a class="clr0 text-decoration-none" href="{{.daoAttr.Website}}"> {{.daoAttr.Website}}</a></div>
                    </div>
                    <div class="mgbm-15">
                        <div class="fw-bold">Twitter</div>
                        <div><a class="clr0 text-decoration-none" href="{{.daoAttr.Twitter}}"> {{.daoAttr.Twitter}}</a></div>
                    </div>
                    <div class="mgbm-15">
                        <div class="fw-bold">Discord</div>
                        <div><a class="clr0 text-decoration-none" href="{{.daoAttr.Discord}}">{{.daoAttr.Discord}}</a></div>
                    </div>
                    <div class="mgbm-15">
                        <div class="fw-bold">Wiki</div>
                        <div><a class="clr0 text-decoration-none" href="{{.daoAttr.Wiki}}">{{.daoAttr.Wiki}}</a></div>
                    </div>                        
                </div>
            </div>

            <div class="h-line line-bm mg-x48"></div>

            <div id="Governance" class="">
                <div class="fs28 fs600 clr3">
                    <i class="bi-award color-primary"></i>
                    <span class="px-2">Governance</span>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="mgbm-15">
                            <div class="fw-bold">Token</div>
                            <div><a class="clr0 text-decoration-none" href="">{{.daoAttr.TokenName}}</a></div>
                        </div>
                        <div class="mgbm-15">
                            <div class="fw-bold">Treasury</div>
                            <div class="clr0 ">{{.daoAttr.Treasury}}</div>
                        </div>
                        <div class="mgbm-15">
                            <div class="fw-bold">Voting</div>
                            <div><a class="clr0 text-decoration-none" href="{{.daoAttr.Voting}}">{{.daoAttr.Voting}}</a></div>
                        </div>
                        <div class="mgbm-15">
                            <div class="fw-bold">Forum</div>
                            <div><a class="clr0 text-decoration-none" href="{{.daoAttr.Forum}}">{{.daoAttr.Forum}}</a></div>
                        </div>
                        <div class="mgbm-15">
                            <div class="fw-bold">Token  Holders</div>
                            <div class="">{{.daoAttr.TokenHolders}}</div>
                        </div>
                        <div class="mgbm-15">
                            <div class="fw-bold">Assets Under Management</div>
                            <div class="">{{.daoAttr.AUM}}</div>
                        </div>
                        <div class="mgbm-15">
                            <div class="fw-bold"></div>
                            <div class=""></div>
                        </div>
                        <div class="mgbm-15">
                            <div class="fw-bold"></div>
                            <div class=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <!-- <div class="border-top mt-5 pt-3 d-flex justify-content-between">
            <div class="text-muted f12 ">&copy2021 DAOAtlas </div>
            <div class="text-muted f12 ">Powered by DAOAtlas Genesis</div>
        </div> -->
        <!-- <div id="copy_right"><copy-right /></div> -->
    </div>
    {{template "footer.html" .}}
</body>
<script type="text/javascript">
    new Vue({ el: "#copy_right" });
</script>

</html>