<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.base.Tdk.Title}}-DAOAtlas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/front/style.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
</head>
<body>
    <div class="top-nav">
        {{template "nav.html" .}}
    </div>

    <div class="dao-list">
        <div class="container">
            {{range $i, $v := .tags}}
            <a href="/daosPage?tid={{$v.ID}}" data-id="{{$v.ID}}" class="dao-btn rounded-pill text-decoration-none">
                <span class="fs600">{{$v.Name}}</span>
                <span class="nub px-2">{{$v.UseCount}}</span>
            </a>
            {{end}}
        </div>
        <div class="cl"></div>
        <div class="container mt-5">
            <div class="row ">
                {{range $i, $v := .daoPosts}}
                <div class="col-md-4 mb-4">
                    <div class="dao-card shadow-sm pos-re">
                        <div class="text-center">
                            <div class="dao-img">
                                <img src="{{$v.Pic}}" alt="">
                            </div>
                            <div class="title clr2 fs24 fs600">{{$v.Title}}</div>
                            <p class="fs16 clr2 mgtp-1">
                                <span>{{$v.Members}} Members</span>
                                <!-- <span class="divider divider-vertical"></span>
                                <span>Investment</span> -->
                            </p>
                        </div>
                        <p class="px-4 p-cnt fs18 clr2-1">{{$v.Summary}}</p>
                        <div class="d-flex justify-content-center more-btn">
                            <a href="/view/{{$v.ID}}" class="read-more fs18 bg-more text-decoration-none">More</a>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        <div class="text-center mt-3">
            <a class="fs18 clr2 text-decoration-none" href="/daosPage?page={{.page}}&tid={{.tid}}">More...</a>
        </div>
    </div>
    {{template "footer.html" .}}
</body>
<script type="text/javascript">
// 为标签添加激活样式
(function() {
    const href = location.href;
    const query = href.indexOf("?") > -1 ? href.split("?")[1] : null;
    const queryParam = !query ? null : query.indexOf("&") > -1 ? query.split("&") : query.indexOf("tid") > -1 ? href.split("?tid=")[1] : null;
    let tid = null;
    
    if(Array.isArray(queryParam)) {
        queryParam.map(item => {
            if(item.indexOf("tid") > -1) tid = item.split("=")[1];
        })
    }else tid  = queryParam;
    
    const daoBtns = $(".dao-btn");
    // 默认添加第一个
    !tid && $(daoBtns[0]).addClass("active");

    if(!!tid) {
        $(".dao-btn").removeClass("active");

        for(let i = 0, len = daoBtns.length; i < len; i++) {
            const id = daoBtns[i].dataset.id * 1;

            if(tid * 1 === id) {
                $(daoBtns[i]).addClass("active");
                break;
            }
        }
    }
})()
</script>

</html>